{% extends 'base.html' %}
{% load static %}
{% load macro_us_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container-fluid">

  <h5 class="mb-3">PMI Manufacturing</h5>
  <div class="pb-2">
      {% for img in ism_manu_images %}
          <span class="ml-5 mr-5"><img src="{{ img }}"></span>
      {% endfor %}
  </div>
  {% if ism_manu_table.surveys %}
      <div class="pb-3">
          {% autoescape off %}
              <p>{{ ism_manu_table.surveys }}</p>
          {% endautoescape %}
      </div>
  {% endif %}

  <h5 class="mb-3">PMI Services</h5>
  <div class="pb-2">
      {% for img in ism_serv_images %}
          <span class="ml-5 mr-5"><img src="{{ img }}"></span>
      {% endfor %}
  </div>
  {% if ism_serv_table.surveys %}
      <div class="pb-3">
          {% autoescape off %}
              <p>{{ ism_serv_table.surveys }}</p>
          {% endautoescape %}
      </div>
  {% endif %}

  <h5 class="mb-3">CCI</h5>
  <div class="pb-2">
      {% for img in cci_images %}
          <span class="ml-5 mr-5"><img src="{{ img }}"></span>
      {% endfor %}
  </div>
  {% if cci_table.cci %}
      <div class="pb-3">
          {% autoescape off %}
              <p>{{ cci_table.cci }}</p>
          {% endautoescape %}
      </div>
  {% endif %}

  <h5 class="mb-3">UMCSI</h5>
  <div class="pb-2">
      {% for img in umcsi_images %}
          <span class="ml-5 mr-5"><img src="{{ img }}"></span>
      {% endfor %}
  </div>
  {% if umcsi_table.umcsi %}
      <div class="pb-3">
          {% autoescape off %}
              <p>{{ umcsi_table.umcsi }}</p>
          {% endautoescape %}
      </div>
  {% endif %}

  {% for metric_code, metric_data in fred_metrics.items %}
  <h5 class="mb-3">{{ metric_data.0 }}</h5>
  <div class="pb-2">
    {% if fred_images|length > 0 %}
      {% for const_code in metric_data.1 %}
        {% for img in fred_images|keyvalue:metric_code|keyvalue:const_code.lower %}
          <span class="ml-5 mr-5"><img src="{{ img }}"></span>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="pb-3">
    {% if metric_code %}
      {% autoescape off %}
        <p>{{ fred_tables|keyvalue:metric_code }}</p>
      {% endautoescape %}
    {% endif %}
  </div>
  {% endfor %}

  <div class="pt-3">
      <a href="#" class="btn btn-outline-secondary">Back to Top</a>
  </div>
</div>

{% endblock %}
